
@{
    ViewData["Title"] = "Estadisticaas";
}

<h1>Estadisticaas</h1>
<p>
    @ViewData["Avl"]
</p>
<p>
    @ViewData["ABB"]
</p>
<p>
    @ViewData["AMBOS"]
</p>
<p>
    @ViewData["TAvlSERIAL"]
</p>
<p>
    @ViewData["TAvlEMAIL"]
</p>
<p>
    @ViewData["TAvlID"]
</p>
<p>
    @ViewData["TABBID"]
</p>
<p>
    @ViewData["TABBSERIAL"]
</p>
<p>
    @ViewData["TABBEMAIL"]
</p>
<p>
    @ViewData["CAvlID"]
</p>
<p>
    @ViewData["CAvlEMAIL"]
</p>
<p>
    @ViewData["CAvlSERIAL"]
</p>
<p>
    @ViewData["CABBID"]
</p>
<p>
    @ViewData["CABBSERIAL"]
</p>
<p>
    @ViewData["CABBEMAIL"]
</p>
<p>
    @ViewData["RAvlSERIAL"]
</p>
<p>
    @ViewData["RAvlID"]
</p>
<p>
    @ViewData["RAvlEMAIL"]
</p>
<p>
    @ViewData["PAvlEMAIL"]
</p>
<p>
    @ViewData["PAvlID"]
</p>
<p>
    @ViewData["PAvlSERIAL"]
</p>
