@model IEnumerable<Lab03_ED_2022.Models.ClientModel>

@{
    ViewData["Title"] = "Index6";
}

<h1>Ordenado por número de serie</h1>

<header>
    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="CreateAvl">| Crear |</a> @*cambio para estar en espanol*@
    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="Index4">| Ordenado ID |</a> @*cambio para estar en espanol*@
    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="Index5">| Ordenado Email |</a> @*cambio para estar en espanol*@

    <a class="navbar-brand" asp-area="" asp-controller="Client" asp-action="Create7">| Búsqueda |</a> @*cambio para estar en espanol*@
</header>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNo)
            </td>
            
        </tr>
}
    </tbody>
</table>
